<h1>やること！</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.id, task %>
    
    <%= task.content %>
    =&gt;状態：<%= task.status %>
    
  </li>
  <% end %>      
        
</ul>

<%= link_to 'やること追加', new_task_path %>